target
.classpath
.project
.settings
nbactions.xml
nb-configuration.xml
*.DS_Store

.idea
*.iml
tf-ner-poc/venv
tf-ner-poc/src/main/python/namefinder/savedmodel
tf-ner-poc/src/main/python/namefinder/char_dict.txt
tf-ner-poc/src/main/python/namefinder/label_dict.txt
tf-ner-poc/src/main/python/namefinder/word_dict.txt
